.backgroundimage {
    background-image: url('../Images/bg_01.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
}



div.theme {
    background-color: #ffffcc;
    color: rgb(0, 0, 0);
    text-align: center;

    border-bottom:2px solid rgb(172, 172, 172);
    border-left:2px solid rgb(172, 172, 172);

    height: 15%;
    
    width: -webkit-fill-available;

    position: absolute;

    left: 10%;
    top:0;
    /* border-width: 10px;
    border-style: outset;
    border-color:rgb(159, 2, 2);
    border-radius: 50px;*/
}
div.theme h1{
    background-color: #ffcccc;
    font-size: 75px;
    
    border-radius: 5px;

    display: inline;

    position: relative;
    top:20px;
}



ul.left-menu {
    background-color: #ffffcc;
    color: black;

    text-align: center;

    position: fixed;
    left:0;
    top:0;

    list-style-type: none;
    margin: 0;
    padding: 0;

    height: 100%;
    width: 10%;
}
ul.left-menu a.left-menu-content{
    display:block;
    height:50px;
}
ul.left-menu img{
    width: 50%;
    height:50%;

    border-style: solid;
    border-color: rgb(255, 159, 159);

    animation:image-rotate 5s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
}
@keyframes image-rotate {
    from {transform: rotate(0deg);} 
    to {transform: rotate(360deg);} 
}
ul.left-menu li {
    border-bottom:2px solid rgb(172, 172, 172);
}
ul.left-menu li:first-child {
    padding: 25px 0 25px 0;
}
ul.left-menu li a.left-menu-content:hover {
    background-color: rgb(199, 255, 67);
    color: rgb(0, 179, 255);
}
ul.left-menu li a.left-menu-content:link {
    color: black;
    text-decoration: none;
}
ul.left-menu li a.left-menu-content:visited {
    color: black;
    text-decoration: none;
}



div.page-description{
    background-color: #aaffaa;

    border:1px solid #aaaaaa;

    font-size: small;
    text-align: center;

    margin: auto;
    padding: 0 0 0 15px;

    width: 25%;
    height: 100px;

    overflow: hidden;
}
div.page-description-content{
    background-color: #ffffff;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
div.page-description img{
    float: left;
    height: 100px;
}

div.content {

    background-color: azure;
    color: rgb(0, 0, 0);
    font-size: 20px;

    padding: 25px 100px 25px 100px;

    border-style: solid;
    border-color: rgb(201, 201, 201);

    position: absolute;
    left: 10%;
    top:15%;

    width: -webkit-fill-available;
}
div.content a:link {
    color: black;
    text-decoration: none;
}
div.content a:visited {
    color: black;
    text-decoration: none;
}
div.content h1,div.content h2 {
    position: relative;
    left: 25px;
}
div.content ol.list{
    background-color:blanchedalmond ;
    color: rgb(0, 0, 0);

    padding:50px 50px 50px 50px;

    margin:10px 10px 10px 10px ;

}
div.content div.subcontent{
    background-color:blanchedalmond ;

    padding:50px 50px 50px 50px;

    margin:10px 10px 10px 10px ;
}
div.directory{
    width:fit-content;
    height: fit-content;

    background-color: #ffffff;
    border-style: solid;
    border-color: #aaaaaa;
    border-width: 1px;

    padding: 10px 25px 10px 15px;

    font-size: small;
}


div.imagegroups {
    background-color: bisque;
    border-radius: 10px;

    display: flex;
    justify-content: center;


    overflow: scroll;

    padding:25px 50px 25px 50px;
    margin:10px 10px 10px 10px;
}
div.imagegroups img {
    width: 500px;
    height: 300px;

    margin:10px 50px 10px 50px;

}
div.imagegroups #wechat-images {
    width: 500px;
    height: 700px;
    margin:10px 10px 10px 10px;
}
